[Unit] 
Description=kravchenko-simple
Requires=network.target
After=network.target

[Install] 
WantedBy=multi-user.target 

[Service] 
ExecStart= java -jar {{ app_dir }}/{{ app_file }}
User={{ service_user }}
Restart=on-failure
RestartSec=10
Environment=PORT={{ app_port }}
